<%= form_for(@reporte_archivo) do |f| %>
  <% if @reporte_archivo.errors.any? %>
    <div id="error_explanation">
       <div class="alert alert-danger">
      <h2><%= pluralize(@reporte_archivo.errors.count, "error") %> prohibited this reporte_archivo from being saved:</h2>

      <ul>
      <% @reporte_archivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
      </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, class: 'form-control', required: true %>
  </div>
 
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, required: true %>
  </div>
  
    <%= f.hidden_field :reporte_id, { :value => @reporte.id } %>
  
    <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>

<% end %>
