<%= form_for (@reporte) do |f| %>
  <% if @reporte.errors.any? %>
    <div id="error_explanation">
       <div class="alert alert-danger">
      <h2><%= pluralize(@reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% @reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>
  
   <h2> <%= @reporte.obra.nombre %></h2>
  
  <div class="field">
    <%= f.label :clima %><br>
    <%= f.text_field :clima %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :incidencias %><br>
    <%= f.text_area :incidencias %>
  </div>
  <div class="field">
    <%= f.label :cambios %><br>
    <%= f.text_area :cambios %>
  </div>
  <div class="field">
    <%= f.label :residente %><br>
    <%= f.text_field :residente %>
  </div>
  <div class="field">
    <%= f.label :supervisor %><br>
    <%= f.text_field :supervisor %>
  </div>
 
  <%= f.hidden_field :obra_id, { :value => @reporte.obra.id } %>
  
   
  <div class="field">
 <%=f.label "Detalles" %>
  </div>
  
  <div id="reporte_detalles">
  <% f.fields_for :reporte_detalles do |reporte_detalle| %>
   <%= render 'reporte_detalles', :f => reporte_detalle %>
  <% end %>
  <br>
     <div class="links"> 
  <%= link_to_add_association 'Agregar', f, :reporte_detalles, class: "btn btn-success"%>
     </div>
  </div>

  <br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
