<div class="nested-fields">
    <%= f.label :categoria %><br>
    <%= f.select :categoria, options_for_select(ReporteDetalle.categoria.keys.to_a) %>
  
    <%= f.label :numeropersonas %><br>
    <%= f.number_field :numeropersonas %>
  <%= link_to_remove_association "Quitar", f ,class: "btn btn-danger"%>
</div>
