<li class="control-group nested-fields">
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria %>
  
    <%= f.label :numeropersonas %><br>
    <%= f.text_field :numeropersonas %>
  
  <%= link_to_remove_association "remove task", f%></div>
  </li>