<h1><%=@obra.nombre%> - <%=@obra.empresa.nombre%></h1>
<h2>Reportes</h2>

<%=link_to new_obra_reporte_path(@obra.id), class: "btn btn-success" do%>
 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
<% end %>
<br>
<br>
<table  class="table table-bordered">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Clima</th>
      <th>Incidencias</th>
      <th>Cambios</th>
      <th>Residente</th>
      <th>Supervisor</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reportes.each do |reporte| %>
      <tr>
        <td>
          <%=reporte.fecha %>
        </td>
        <td>
          <%=reporte.clima %>
        </td>
        <td>
          <%=reporte.incidencias %>
        </td>
        <td>
          <%=reporte.cambios %>
        </td>
        <td>
          <%=reporte.residente %>
        </td>
        <td>
          <%=reporte.supervisor %>
        </td>
        <td>
          <%=link_to 'Ver', reporte %>
        </td>
        <td>
          <%=link_to 'Borrar', reporte, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', obras_path, class: "btn btn-default" %>

