<p>
  <h2><%= @reporte.obra.nombre %></h2>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @reporte.fecha %>
</p>
<p>
  <strong>Clima:</strong>
  <%= @reporte.clima %>
</p>


  <% if @reporte.reporte_detalles.any? %>
  
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Numero de Personas</th>
    </tr>
  </thead>
  <tbody>
      <% @reporte.reporte_detalles.each do |reporte_detalle| %>
      <tr>
        <td><%= reporte_detalle.numeropersonas %></td>
        <td><%= reporte_detalle.categoria %></td>
      </tr>
    <% end %>
  </tbody>
</table>
   <% end %>
<p>
  <strong>Incidencias:</strong>
  <%= @reporte.incidencias %>
</p>

<p>
  <strong>Cambios:</strong>
  <%= @reporte.cambios %>
</p>

<p>
  <strong>Residente:</strong>
  <%= @reporte.residente %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @reporte.supervisor %>
</p>

<ul>
  <% @reporte.reporte_archivos.each do |reporte_archivo| %>
    <li>
      <%= image_tag( reporte_archivo.image.remote_url, size: "480x360", alt: "reporte_archivo.nombre")%>
    </li>
  <% end %>
</ul>
<%= link_to 'Regresar', obra_reportes_path(@reporte.obra_id), class: "btn btn-default" %>
