<p id="notice"><%= notice %></p>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
      <p>
  <h2><%= @reporte.obra.nombre %></h2>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @reporte.fecha %>
</p>
<p>
  <strong>Clima:</strong>
  <%= @reporte.clima %>
</p>



<p>
  <strong>Incidencias:</strong>
  <%= @reporte.incidencias %>
</p>

<p>
  <strong>Cambios:</strong>
  <%= @reporte.cambios %>
</p>

<p>
  <strong>Residente:</strong>
  <%= @reporte.residente %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @reporte.supervisor %>
</p>
  
<table>
  <%= @reporte.reporte_detalles.each do |task|%>
  <tr>
  <td>
    <%=  task.numeropersonas%>
  </td>
  </tr>
  <%end%>
  
</table>

