<p id="notice"><%= notice %></p>


<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      
      <p>
  <h2><%= @reporte.obra.nombre %></h2>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @reporte.fecha %>
</p>
<p>
  <strong>Clima:</strong>
  <%= @reporte.clima %>
</p>



<p>
  <strong>Incidencias:</strong>
  <%= @reporte.incidencias %>
</p>

<p>
  <strong>Cambios:</strong>
  <%= @reporte.cambios %>
</p>

<p>
  <strong>Residente:</strong>
  <%= @reporte.residente %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @reporte.supervisor %>
</p>
  </aside>
 <div class="col-md-8">
    <% if @reporte.reporte_detalles.any? %>
      <strong>Detalles (<%= @reporte.reporte_detalles.count %>)</strong>
      <ol class="reporte_detalles">
        <%= render @reporte_detalles %>
      </ol>
      <%= will_paginate @reporte_detalles %>
    <% end %>
  </div>
  </div>
<%= link_to 'Regresar', obra_reportes_path(@reporte.obra_id), class: "btn btn-default" %>
