<%= form_for(@reporte_detalle) do |f| %>
  <% if @reporte_detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reporte_detalle.errors.count, "error") %> prohibited this reporte_detalle from being saved:</h2>

      <ul>
      <% @reporte_detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :categoria %><br>
    <%= f.select :categoria, options_for_select(categoria_combo) %>
  
    <%= f.label :numeropersonas %><br>
    <%= f.number_field :numeropersonas %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
