<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @reporte_detalle.categoria %>
</p>

<p>
  <strong>Numeropersonas:</strong>
  <%= @reporte_detalle.numeropersonas %>
</p>

<p>
  <strong>Reporte:</strong>
  <%= @reporte_detalle.reporte %>
</p>

<%= link_to 'Edit', edit_reporte_detalle_path(@reporte_detalle), class: "btn btn-default" %> |
<%= link_to 'Back', reporte_detalles_path, class: "btn btn-default" %>
