<h1>Obras</h1>
<%= link_to 'New Obra', new_obra_path %>
<br>
<table>
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Nombre</th>
      <th>Importe</th>
      <th>Plazo</th>
      <th>Fecha Inicial</th>
      <th>Fecha Final</th>
      <th>Avances</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @obras.each do |obra| %>
      <tr>
        <td><%= obra.empresa.nombre %></td>
        <td><%= obra.nombre %></td>
        <td><%= obra.importe %></td>
        <td><%= obra.plazo %></td>
        <td><%= obra.fechainicial %></td>
        <td><%= obra.fechafinal %></td>
        <td><%= link_to 'Avances',obra_reportes_path(obra.id) %></td>
        <td><%= link_to 'Show', obra %></td>
        <td><%= link_to 'Edit', edit_obra_path(obra) %></td>
        <td><%= link_to 'Destroy', obra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


