<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= wicked_pdf_stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= wicked_pdf_javascript_include_tag  'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body onload='number_pages'>
    <div id="header">
      <%= wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>